OC-DS-P7-MODELLING/data/
OC-DS-P7-MODELLING/sauvegarde/
OC-DS-P7-MODELLING/notebooks/aide.txt
OC-DS-P7-MODELLING/notebooks/.ipynb_checkpoints/
OC-DS-P7-MODELLING/notebooks/__pycache__/
OC-DS-P7-MODELLING/notebooks/test_imp1_set.csv
OC-DS-P7-MODELLING/notebooks/test_imp2_set.csv
OC-DS-P7-MODELLING/notebooks/test_set.csv
OC-DS-P7-MODELLING/notebooks/train_imp1_set.csv
OC-DS-P7-MODELLING/notebooks/train_imp2_set.csv
OC-DS-P7-MODELLING/notebooks/train_set.csv
OC-DS-P7-MODELLING/notebooks/train_set.csv
OC-DS-P7-MODELLING/notebooks/test_set_sans_var_magique.csv
OC-DS-P7-MODELLING/notebooks/test_set_sans_var_magique_small.csv
OC-DS-P7-MODELLING/notebooks/train_set_sans_var_magique.csv
OC-DS-P7-MODELLING/notebooks/train_set_sans_var_magique_small.csv
OC-DS-P7-MODELLING/notebooks/train_set_small.csv
OC-DS-P7-MODELLING/notebooks/test_set_small.csv
OC-DS-P7-MODELLING/notebooks/logs.log